.content-article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181719;
  }
  
  .content-section{
    display: flex;
    align-items: top;
    justify-content: center;
    width: 80%;
    background-color: #27242c;
    gap: 10%;
    padding: 10px 0;
  }
  
  .last-post > h2:first-child{
    display: flex;
    justify-self: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.0em;
    margin-bottom: 20px;
  }
  
  .last-post p, .last-post{
    color: #f3f3f9;
    font-family:'Libre Baskerville', serif;
    font-size: 1.2em;
  }
  
  .last-post img {
    width: max(250px);
    height: max(150px);
    margin: 20px 20px auto;
  }
  
  .last-post-title {
    font-size: 1.6em;
  }
  
  .recent-post {
    display: flex;
    background-color: gray;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid pink;
    margin-bottom: 20px;
    transition: transform 250ms ease-in-out;
  }
  
  .recent-post:hover{
    transform: scale(1.1);
  }
  
  .recent-post img {
    width: 20%;
  }
  
  .recent-post h2{
    margin: auto;
    align-self:center;
    color: #000;
  }
  
  
  .aside-content > h2:first-child{
    display: flex;
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.0em;
    margin-bottom: 20px;
    color: #f3f3f9;
  }

  article{
    display: flex;
    justify-content: space-around;
    color: black;
    /* border: 1px solid black; */
  }
  
  main{
    width: 50%;
    /* border: 1px solid black; */
  
  }
  
  aside {
    width: 30%;
    /* border: 1px solid black; */
  }
  
  main img{
    width: 100px;
    height: 100px;
    background-attachment: fixed;
  }
  
  main p{
    display: flex;
    justify-content: left;
    color: black;
  }

  @media (min-width: 992px) and (max-width: 1500px){
    .content-section{
      padding: 10px 20px;
    }
  
  }