/* Colors : 

#181719
#27242c 
#3d3a41
#ffffff
#f3f3f9
*/


* {
  margin: 0;
  padding: 0;
}

body{
  border-collapse: collapse;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:burlywood;
}

.App h1 {
  font-size: 4em;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* border: 1px solid black; */
  background-image: url("./red_curtain.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.App .title{
  width: 100vw;
  height: 94.5vh;
  /* border: 1px solid pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: burlywood;
}

/* .App .banner-section{
  width: 89vw;
  height: 50vh;
  border: 1px solid blue;
  background-color: #27242c  ;
} */

.main-banner img {
  width: max(300px);
  height: max(250px);
  border-radius: 10px;
  transform: scaleX(-1);
}

.banner-article {
  display: flex;
  background-color: #181719;
  color: black;
  /* border: 1px solid black; */
}

.mid-div {
  background-color: #181719;
  width: 100vw;
  height: 50px;
}

.banner-blackquote {
  width: 50vw;
}

.banner-section {
  width: 80%;
  height: 50vh;
  background-color: #27242c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  font-family: 'Courier New', Courier, monospace;
  color: #f3f3f9;
}

.banner-text {
  /* border: 1px solid pink; */
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  width: 600px;
  font-size: 1.2em;
}

.banner-author{
  color: #f3f3f9;
}

@media screen and  (max-width: 767px){
    .banner-section{
      flex-direction: column;
      gap: 20px;
      justify-content: left;

    }

    .main-banner img {
      width: max(200px);
      height: max(165px);
      border-radius: 10px;
      transform: scaleX(-1);
      margin-top: 30px;
    }

    .banner-text {
      /* border: 1px solid pink; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100px;
      width: 200px;
      font-size: 1em;
    }

    .banner-author{
      margin-top: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1500px){
  .main-banner img {
    width: 240px;
    height: max(200px);
    border-radius: 10px;
    transform: scaleX(-1);
  }

  .banner-section{
    gap: 0px;
  }

  .banner-section{
    padding-left: 20px;
    padding-right: 20px;
  }

}