/* Colors : 

#181719
#27242c 
#3d3a41
#ffffff
#f3f3f9
*/

@font-face {
  font-family: 'Black Rider';
  src: local('Black Rider') , url(../Fonts/Black-Rider/Black\ Rider.ttf) format('truetype')
}

@font-face {
  font-family: 'Road Rage';
  src: local('Road Rage'), url(../Fonts/Black-Rider/Road_Rage.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

body{
  border-collapse: collapse;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:burlywood;
}

.App h1 {
  font-size: 5rem;
  font-family: "Road Rage", serif;
  color: rgb(243 223 72);
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* border: 1px solid black; */
  background-image: url("./red_curtain.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.App .title{
  width: 100vw;
  height: 94.5vh;
  /* border: 1px solid pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: burlywood;
}

@media screen and (max-width: 480px) {
  .App h1 {
    font-size: 4rem;
  }
}
